

.bgContainer {
    padding-top: 60px;
}

.bgRow {
    padding-top: 60px;
}


.colunaImg img {
    height: 100%;
    width: 100%;
}

.linha h1 {
    color: var(--first-color);
    font-size: 3rem;
}

.linha::after {
    position: absolute;
    content: '';
    width: 12%;
    height: 4px;
    background: var(--dark-color);
    top: 55px;
    right: 44%;
}

.colunaContent h1 {
    color: var(--first-color);
    line-height: 1.5;
}

.colunaContent h3 {
    color: var(--dark-color);
    line-height: 1.7;
    font-size: 2rem;
    font-weight: 700;
}

.colunaContent p {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500;
    line-height: 1.5;
}

.midiaSociais {
    display: flex;
    align-items: center;
}

.midiaSociais a {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.midiaSociais a .faIcon {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    color: var(--first-color);
    transition: 0.5s;
}

.midiaSociais a .faIcon:hover {
    color: var(--dark-color);
}


